@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bs-primary: 245, 197, 78;
    --bs-warning-rgb: 245, 197, 78;
    --bs-secondary-rgb: 0, 50, 55;
    --bs-danger-rgb: 255, 0, 0;
    --bs-success-rgb: 4, 181, 68;
    --light: 255, 255, 255;
    --dark: #000033;
    --light-gray: 247, 247, 247;
    --gray150: 234, 234, 234;
    --gray500: 180, 180, 180;
    --gray700: 99, 101, 102;
    --gray800: 71, 71, 71;
    --layout-sider-width: 236px;
    --layout-sider-collasped-width: 70px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Customized */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: none;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--secondary);
    transition-duration: .3s;
}

a.active,
a:hover {
    color: rgb(var(--light));
}

body {
    background: rgb(var(--light));
    font-family: Plus Jakarta Display, sans-serif !important;
    color: rgb(var(--bs-secondary-rgb));
}

.brand {
    background-image: url(../Images/brand.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1 {
    font-size: 3.125rem;
    color: rgb(var(--bs-secondary-rgb))
}

section:not(:last-child) {
    margin-bottom: 4rem;
}

.btn-transparent {
    background-color: transparent;
    border-color: transparent;
}

.btn-transparent:hover {
    background-color: rgb(var(--gray150));
}

.table-thead-uppercase thead {
    text-transform: uppercase;
    font-weight: 600;
}

/* https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body */
.table-thead-fixed {
    overflow: auto;
    height: 100px;
}

.table-thead-fixed thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(243, 243, 243, 1);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgb(var(--light-gray));
}

.form-control:focus {
    border-color: rgb(var(--bs-warning-rgb));
}

.form-select:focus {
    border-color: rgb(var(--bs-warning-rgb));
    box-shadow: none;
}

#container #content main {
    min-height: 100vh;
}

#container #content .breadcrumb {
    background-color: rgb(238 238 238);
    font-size: 14px;
    font-weight: 400;
    color: rgba(99, 101, 102, 1);
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: rgb(var(--bs-warning-rgb)) !important;
}

.form-label.required::before {
    content: '* ';
    color: rgb(var(--bs-danger-rgb));
}

form label {
    font-size: 14px;
    color: rgb(var(--gray800));
}

.modal-open .modal-backdrop {
    backdrop-filter: blur(1.68px);
    background-color: rgb(255 255 255 / 68%);
    opacity: 1.6;
}

.custom-invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: rgb(var(--bs-danger-rgb));
}

.modal-dialog.with-nav-tab .nav-link {
    border: 0;
    border-bottom: 2px solid transparent;
    color: rgb(var(--secondary));
    font-size: 14px;
    padding: 15px 20px;
}

.modal-dialog.with-nav-tab .nav-link:hover,
.modal-dialog.with-nav-tab .nav-link.active {
    border-color: rgb(var(--bs-warning-rgb));
    color: rgb(var(--bs-warning-rgb));
}

.modal-dialog.with-nav-tab .modal-footer > * {
    margin-right: .75rem;
}

.modal-dialog.with-nav-tab .modal-footer > *:last-child {
    margin: 0;
}

.btn-icon.btn-outline-secondary {
    fill: rgb(var(--bs-secondary-rgb));
}

.btn-icon.btn-outline-secondary:hover {
    fill: rgb(var(--bs-light-rgb));
}

.custom-file-button input[type=file]::file-selector-button,
.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}
