.card-wrap {
    border-radius: 6px;
    border-top: 4px solid rgb(var(--bs-warning-rgb));
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.07);
    padding: 0;
}

.card-wrap .info {
    top: 30px;
    left: 20px;
    color: rgb(var(--bs-warning-rgb));
}

.card-wrap .info .value {
    margin-top: 3px;
    font-size: 32px;
    font-weight: 700;
}

.card-wrap .changed {
    font-size: 32px;
    font-weight: 700;
}

.card-wrap .status {
    bottom: 30px;
    left: 20px;
}

.card-wrap > .title {
    color: rgb(var(--bs-warning-rgb));
    font-weight: 700;
    padding: 17px 20px;
    border: 1px solid rgb(var(--gray150));
}

.card-wrap .notes {
    font-size: 12px;
}

.arrow-down {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/arrow-down.svg);
}

.highcharts-container {
    width: 100% !important;
    height: 100% !important;
}

#net-liquidity {
    max-width: 460px;
    height: 233px;
    overflow: hidden;
}

#holdings,
#transactions {
    height: 385px;
}

.card-wrap table {
    font-size: 12px;
}

.card-wrap table th,
.card-wrap table td {
    padding: 15px 20px !important;
}

#top-portfolio .content {
    gap: 20px;
}

#top-portfolio .ranking {
    padding: 27px 20px;
    gap: 20px;
    min-width: 468px;
    width: 468px;
}

#top-portfolio .ranking .no {
    color: rgb(var(--bs-warning-rgb));
    font-size: 13px;
    font-style: italic;
    font-weight: 900;
    margin-top: -20px;
}

#top-portfolio .ranking .no span {
    font-size: 64px;
    line-height: 47px;
}

#top-portfolio .ranking .company-logo {
    width: 158px;
    min-width: 158px;
    height: 158px;
    border: 1px solid rgb(var(--gray150));
    object-fit: contain;
}

#top-portfolio .ranking .company-detail {
    font-size: 12px;
    font-weight: 200;
    gap: 4px;
    margin-top: 18px;
}

#top-portfolio .ranking .company-detail .name {
    font-size: 14px;
    font-weight: 700;
}

#top-portfolio .ranking .company-detail .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
