@section Styles{
    <link rel="stylesheet" href="~/Styles/home.css" asp-append-version="true" />
}

<section id="intro">
    <h1 class="text-center fw-bold">
        The Best Way to <br />
        Track Your Stock Portfolio
    </h1>
    <div id="cover"></div>
</section>

<section id="start" class="position-relative">
    <div id="cover"></div>
    <div class="highlight position-absolute text-center">
        Upload your transactions file and<br />
        Start using the easiest way to<br />
        Track your portfolio<br />
        <button id="start-now" type="button" class="btn btn-warning btn-lg text-light fs-4 rounded-0 px-5">Start Now</button>
    </div>
</section>